<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div>
            <div class="panel">
                <div>
                    <div>
                        <label >
                            Select your course:
                            <select ng-model="selectedCourse" ng-change="analysis(selectedCourse.id)"
                                    ng-options="c as c.fullName for c in courseList"></select>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" ng-if="helperProvidersAnalysisData.length">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Asker and Helper Distinct Interactions Pattern
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="helperProvidersAnalysisData" chart-labels="helperProvidersAnalysisLabels" chart-options="chartOptions">
                    </canvas>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Isolated People
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                        </a>

                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
                <!-- /.panel-body -->
            </div>
    </div>